@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background:#ecfbfb !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

/* .navbar-light {
  background-color: #ffffff;
  color:#a6adb4 !important;
} */

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-top: 8%;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
 

.btn-component{
  margin-left:1%;
}

.outer-panel{
  margin:0.5%
}

.outer-search-panel{
  padding-left:0.5% !important;
  padding-right:0px !important;
  padding-top: 0px !important;
  margin-top:0px !important;
  
}

.inner-search-panel{
  background: #ecfbfb;
  padding: 0px;
  min-height: 90vh;
  
}

.row{
  padding:0px;
  margin-left:0px !important;
  margin-right:0px !important;
}

.outer-work-panel{
  padding-left:0.5% !important;
  padding-right:0px !important;
  padding-top: 0px !important;
  margin-top:0px !important;
}

.inner-work-panel{
  background: #ecfbfb;
  padding:0px;
  min-height: 90vh;
}

.inner-work-box{
  padding: 10px 20px 20px 20px;
}

.inner-search-box{
  padding: 10px 20px 20px 20px;
}

.inner-nav{
  padding:8px !important;
}

.list-group-item:hover{
  background-color:rgb(227, 245, 252);
  color:black;
}

.list-group-item:active{
  background-color:#007bff;
  color:#ffffe1;
}


.list-group-item{
  padding: 1% !important;
}

.heading{
  background-color: #343a40 !important;
  color:#ffffe1 !important;
  padding: 1% !important;
}


.navbar{
  padding: 5px 10px !important;
}

.lbl-form{
  margin-top: 1rem;
  margin-bottom:0rem;
}

.lbl-heading{
  margin-top: 0.2rem;
  margin-bottom:0.2rem;
  font-size: 26px;
}

.help-block{
  color:red;
}

.work-section{
  padding:0px !important;
}

th {
  padding:0.2rem !important;
  font-size:0.9rem;
  background-color: #003a48;
  color:white;
}

td{
  padding:0.2rem !important;
  font-size:0.9rem;
  background-color: #ecfbfb;
  color:black;
  border: 2px groove !important;
}

.success-message{
  margin-left: 1%;
  color: white;
  border-radius: 5%;
  margin-bottom: 0px;
}

.hidden{
  display: none;
}
